
.container{
    width: 100%;
    margin: 0;
    padding:0;
    line-height: 0;
    
}
h1, h2{
    margin:0;
    line-height: 1;
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;
    
    color: #2caa56e8;
    -webkit-background-clip: text;
    
    -webkit-animation-name: shine;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;

                  
}
@-webkit-keyframes shine
{
    0%
    {
        background-position: top left;
    }
    100%
    {
        background-position: top right;
    }
}
h2{
    padding-bottom: 10px;
    background:white;

}

.ohh-baby img{
    border-radius: 0;
}
.details aside{
    text-align: center;
    padding: 60px;
}
.target-registry{
    text-align: center;
}

.contact{
    margin-top: 110px;
}